<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <link rel="stylesheet" href="/css/front_style.css">
    <body>
        <div id="div1">
            <a href="/users" style="text-decoration:none">Login User</a>
            <br>
            <a href="/users/sign-up" style="text-decoration:none">Sign Up</a>
        </div>
        
    </body>
</html>